*.tfstate
*.tfstate.backup
.terraform
*graph.png
access.json
access_key
access_key.pub
certificate.pem
chain_certificate.pem
private.key
.DS_Store
access.key
secret.key
*.key
*.pem
keys/*
!keys/ssh/.gitkeep
!keys/ssl/.gitkeep
